<!DOCTYPE html>
<html class="" lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>Cadastro | Pesquisa SENAI</title>
	<meta name="description" content="">
	<!-- Vendor -->
	<link rel="stylesheet" href="views/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="views/css/normalize.css">
	<!-- Proprietary -->
	<link rel="stylesheet" href="views/css/anim.css">
	<link rel="stylesheet" href="views/css/fonts.css">
	<link rel="stylesheet" href="views/css/buttons.css">
	<link rel="stylesheet" href="views/css/common.css">
	<link rel="stylesheet" href="views/css/pesquisa.css">
</head>
<body class="pesquisa">
	<div class="container">
		<div class="top">
			<div class="logo-wrapper">
				<img class="logo" src="views/res/logo-branco.png">
			</div>
		</div>
		<div class="content">
			<div class="wrapper">
				<div class="top">
					<h3 class="info">Formulário de Cadastro de Pesquisa:</h3>
					<a href="lista" class="btn btn-crud btn-beta btn-small btn-dark">Ver Pesquisas</a>
				</div>
				<form action="api/pesquisas/nova" method="POST" autocomplete="on">
				<div class="inputs">
					<div class="multi-input">
						<div class="input input-medium">
							<label class="input-name" for="nome">Nome:</label> 
							<input type="text" name="nome" placeholder="" autofocus="autofocus" required></input>
						</div>

						<div class="input input-medium">
							<label class="input-name" for="sobrenome">Sobrenome:</label> 
							<input type="text" name="sobrenome" placeholder="" required></input>
						</div>
					</div>
					
					<div class="input input-medium">
						<label class="input-name" for="data_nascimento">Data de Nascimento:</label> 
						<input type="date" name="data_nascimento" min="1950-01-01" max="2016-01-01" placeholder="" required></input>
					</div>

					<div class="input">
						<label class="input-name" for="sexo">Sexo:</label>
						<div class="radios">
							<div class="radio">
								<input type="radio" name="sexo" value="Masculino" required></input>
								<span class="radio-name">Masculino</span>
							</div>
							<div class="radio">
								<input type="radio" name="sexo" value="Feminino" required></input>
								<span class="radio-name">Feminino</span>
							</div>
						</div>
					</div>

					<div class="input input-medium">
						<label class="input-name" for="cidade">Cidade:</label> 
						<input type="text" name="cidade" placeholder="" required></input>
					</div>

					<div class="multi-input">
						<div class="input input-medium">
							<label class="input-name" for="email">E-mail:</label>
							<input type="email" name="email" placeholder=""></input>
						</div>

						<div class="input input-small">
							<label class="input-name" for="celular">Celular:</label> 
							<input type="text" name="celular" placeholder=""></input>
						</div>
					</div>

					<div class="input">
						<label class="input-name" for="interesses">Interesse em Cursos Técnicos:</label>
						<div class="checks">
							{% for i in 0..4 %}
							<div class="checkbox">
								<input type='checkbox' name='interesses[]' value='{{ cursos[i].id }}'>
								<span class="checkbox-name">{{ cursos[i].nome }}</span>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="input">
						<label class="input-name" for="interesses">Interesse em Cursos de Qualificação e Aperfeiçoamento:</label>
						<div class="checks">
							{% for i in 5..31 %}
							<div class="checkbox">
								<input type='checkbox' name='interesses[]' value='{{ cursos[i].id }}'>
								<span class="checkbox-name">{{ cursos[i].nome }}</span>
							</div>
							{% endfor %}
						</div>
					</div>

					<input type="submit" class="btn btn-crud btn-beta btn-small btn-dark" value="Cadastrar">
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>