<!DOCTYPE html>
<html class="" lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>Lista | Pesquisa SENAI</title>
	<meta name="description" content="">
	<!-- Vendor -->
	<link rel="stylesheet" href="views/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="views/css/normalize.css">
	<!-- Proprietary -->
	<link rel="stylesheet" href="views/css/anim.css">
	<link rel="stylesheet" href="views/css/fonts.css">
	<link rel="stylesheet" href="views/css/buttons.css">
	<link rel="stylesheet" href="views/css/common.css">
	<link rel="stylesheet" href="views/css/table.css">
	<link rel="stylesheet" href="views/css/pesquisa.css">
</head>
<body>
	<header class="header">
		<h1 class="title">Lista de Pesquisas</h1>
		<div class="logo-wrapper">
			<img class="logo" src="views/res/logo-branco.png">
		</div>
	</header>

	<div class="the-table">
		<div class="action-buttons">
			<a href="/pesquisa" class="btn-table btn btn-alpha btn-normal btn-dark"><i class="fa fa-plus"></i>Novo Cadastro</a>
		</div>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="nome">Nome</th>
					<th data-field="sobrenome">Sobrenome</th>
					<th data-field="sexo">Sexo</th>
					<th data-field="data_nascimento">Data de Nascimento</th>
					<th data-field="cidade">Cidade</th>
					<th data-field="celular">Celular</th>
					<th data-field="email">E-mail</th>
					<th data-field="ver_mais"></th>
					<th data-field="deletar"></th>
				</tr>
			</thead>

			<tbody>
				{% for pesquisa in pesquisas %}
				<tr data-id="{{ pesquisa.id }}">
					<td>{{ pesquisa.id }}</td>
					<td>{{ pesquisa.nome }}</td>
					<td>{{ pesquisa.sobrenome }}</td>
					<td>{{ pesquisa.sexo }}</td>
					<td>{{ pesquisa.data_nascimento }}</td>
					<td>{{ pesquisa.cidade }}</td>
					<td>{{ pesquisa.celular }}</td>
					<td>{{ pesquisa.email }}</td>
					<td><a data-index="{{ loop.index0 }}" class="open-modal btn-kappa btn-see-more btn-dark anim anim-fill-right" href="#modal"><span>Ver Mais</span></a></td>
					<td><a class="btn-kappa btn-delete btn-dark anim anim-fill-right" href="api/pesquisas/deletar/{{ pesquisa.id }}"><i class="fa fa-times"></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="modal-overlay"></div>
	<div class="modal">
		<div class="top">
			<div class="left">
				<button class="btn btn-back-step btn-beta btn-dark btn-small"><i class="fa fa-arrow-left"></i></button>
				<h1 class="title"></h1>
			</div>
			<div class="right">
				<a class="close-modal" href="#close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="content cadastro">
		<form method="POST" action="/sca/api/funcionarios/novo" autocomplete="on" enctype="multipart/form-data">
			<div class="inputs">
				<div class="multi-input">
					<div class="input input-medium">
						<label class="input-name" for="nome">Nome:</label> 
						<span data-field="nome" class="input-preview"></span>
					</div>

					<div class="input input-medium">
						<label class="input-name" for="sobrenome">Sobrenome:</label> 
						<span data-field="sobrenome" class="input-preview"></span>
					</div>
				</div>
				
				<div class="input input-medium">
					<label class="input-name" for="data_nascimento">Data de Nascimento:</label> 
					<span data-field="data_nascimento" class="input-preview"></span>
				</div>
				
				<div class="input input-medium">
					<label class="input-name" for="sexo">Sexo:</label> 
					<span data-field="sexo" class="input-preview"></span>
				</div>

				<div class="input input-medium">
					<label class="input-name" for="cidade">Cidade:</label> 
					<span data-field="cidade" class="input-preview"></span>
				</div>

				<div class="multi-input">
					<div class="input input-big">
						<label class="input-name" for="email">E-mail:</label>
						<span data-field="email" class="input-preview"></span>
					</div>

					<div class="input input-small">
						<label class="input-name" for="celular">Celular:</label> 
						<span data-field="celular" class="input-preview"></span>
					</div>
				</div>

				<div class="input">
					<label class="input-name" for="interesses">Interesses:</label>
					<div class="interesses"></div>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="views/js/Pesquisa.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function (e) {
			var hash = document.location.hash
			var UI = new Pesquisa()

			UI.setModalControls()
			UI.setInputs()
		})
	</script>
</body>
</html>