<!DOCTYPE html>
<html class="" lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>Alunos | Sistema Senai Acadêmico</title>
	<meta name="description" content="">
	<!-- Vendor -->
	<link rel="stylesheet" href="../views/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../views/css/normalize.css">
	<!-- Proprietary -->
	<link rel="stylesheet" href="../views/css/anim.css">
	<link rel="stylesheet" href="../views/css/fonts.css">
	<link rel="stylesheet" href="../views/css/buttons.css">
	<link rel="stylesheet" href="../views/css/common.css">
	<link rel="stylesheet" href="../views/css/header.css">
	<link rel="stylesheet" href="../views/css/table.css">
	<link rel="stylesheet" href="../views/css/perfil.css">
</head>
<body class="perfil" data-id-usuario= {{ usuario.id }}>

	{% include 'header.html' %}

	<div class="container">
		<div class="top">
			<div class="user-photo-wrapper">
				<img class="user-photo" src="/sca/uploads/{{ usuario.foto }}">
			</div>
			<h1 class="firstname">{{ usuario.nome }}</h1>
			<h2 class="lastname">{{ usuario.sobrenome }}</h1>
		</div>
		<div class="content" data-table="usuarios">
			<div class="wrapper">
				<div class="top">
					<h3 class="info">Informações Básicas:</h3>
					<div class="buttons">
						<a href="javascript:void(0)" class="btn btn-crud btn-beta btn-small btn-dark">Editar</a>
					</div>
				</div>
				<div class="inputs">

					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="nome">Nome:</label>
							<span data-field="nome" class="input-preview">{{ usuario.nome }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="sobrenome">Sobrenome:</label>
							<span data-field="sobrenome" class="input-preview">{{ usuario.sobrenome }}</span>
						</div>
					</div>
					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="data_nascimento">Data de Nascimento:</label> 
							<span data-field="data_nascimento" class="input-preview">{{ usuario.data_nascimento }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="telefone">Telefone:</label>
							<span data-field="telefone" class="input-preview">{{ usuario.telefone }}</span>
						</div>
					</div>

					<div class="input input-midmid">
						<label class="input-name" for="email">Email:</label>
						<span data-field="email" class="input-preview">{{ usuario.email }}</span>
					</div>

					<div class="input input-midmid">
						<label class="input-name" for="senha">Senha:</label>
						<span data-field="senha" class="input-preview">**********</span>
					</div>

					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="nacionalidade">Nacionalidade:</label>
							<span data-field="nacionalidade" class="input-preview">{{ usuario.nacionalidade }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="estado">Estado:</label>
							<span data-field="estado" class="input-preview">{{ usuario.estado }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="cidade">Cidade:</label>
							<span data-field="cidade" class="input-preview">{{ usuario.cidade }}</span>
						</div>
					</div>

					<div class="input input-midmid">
						<label class="input-name" for="endereco">Endereço:</label>
						<span data-field="endereco" class="input-preview">{{ usuario.endereco }}</span>
					</div>

					<div class="input input-midmid">
						<label class="input-name" for="foto">Foto:</label>
						<span data-field="foto" class="input-preview">{{ usuario.foto }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="content" data-table="funcionarios">
			<div class="wrapper">
				<div class="top">
					<h3 class="info">Informações do Funcionário:</h3>
					<div class="buttons">
						<a href="javascript:void(0)" class="btn btn-crud btn-beta btn-small btn-dark">Editar</a>
					</div>
				</div>
				<div class="inputs">

					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="id_cargo">Cargo:</label>
							<span data-field="id_cargo" class="input-preview">{{ cargo.nome }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="id_salario">Salário:</label>
							<span data-field="id_salario" class="input-preview">{{ salario.valor }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="cnh">CNH:</label>
							<span data-field="cnh" class="input-preview">{{ funcionario.cnh }}</span>
						</div>
					</div>
					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="data_admissao">Data de Admissão:</label>
							<span data-field="data_admissao" class="input-preview">{{ funcionario.data_admissao }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="data_demissao">Data de Demissão:</label>
							<span data-field="data_demissao" class="input-preview">{{ funcionario.data_demissao }}</span>
						</div>
					</div>
					<div class="multi-input">
						<div class="input input-midmid">
							<label class="input-name" for="dependentes">Dependentes:</label>
							<span data-field="dependentes" class="input-preview">{{ funcionario.dependentes }}</span>
						</div>

						<div class="input input-midmid">
							<label class="input-name" for="nivel">Nível:</label>
							<span data-field="nivel" class="input-preview">{{ funcionario.nivel }}</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/sca/views/js/SCA.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function (e) {
			var sca = new SCA()
			sca.theEditionMagic('alunos')
		})
	</script>
</body>
</html>