.anim {
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-fill-top::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
    z-index: -1;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-fill-top:hover::before {
    top: 0;
}

.anim-fill-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    background-color: #fff;
    z-index: -1;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-fill-right:hover::before {
    right: 0;
}

.anim-line-left::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    z-index: -1;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-line-left:hover::before {
    left: 0;
}

.anim-line-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    z-index: -1;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-line-right.anim-line-active::before {
    right: 0;
}

.anim-line-right:hover::before {
    right: 0;
}

.anim-line-center::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    z-index: -1;
    transition: all 0.16s ease-in-out;
    -webkit-transition: all 0.16s ease-in-out;
}

.anim-line-center:hover::before {
    right: 0;
    left: 0;
}

.anim-light::before {
    background-color: #fff;
}

.anim-dark::before {
    background-color: #000;
}
