.btn {
	display: block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
}

.btn-small {
	padding: 5px 10px 5px 10px;
}

.btn-normal {
	padding: 10px 15px 10px 15px;
}

.btn-alpha {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	transition: all 0.16s ease-in;
	-webkit-transition: all 0.16s ease-in;
}

.btn-alpha.btn-dark:hover {
	color: #fff;
	background-color: #000;
}

.btn-alpha.btn-light:hover {
	color: #000;
	background-color: #fff;
}

.btn-beta {
	background-color: transparent;
	border-radius: 2px;
}

.btn-beta.btn-dark:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-beta.btn-light:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-delta {
	background-color: transparent;
	border: none;
}

.btn-delta.btn-dark:hover {
	color: #fff;
}

.btn-delta.btn-light:hover {
	color: #000;
}

.btn-kappa {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.btn-kappa span {
    z-index: 1;
}

.btn-kappa i {
    font-size: 16px;
    z-index: 1;
}

.btn-kappa.btn-dark:hover {
	color: #fff;
}

.btn-kappa.btn-light:hover {
	color: #000;
}

.btn-dark {
	color: #000;
}

.btn-light {
	color: #fff;
}