body {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0 0 50px 0;
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
}

.editar-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: auto;
	height: auto;
	margin: 50px 50px 0 75px;
}

.editar-wrapper .title {
	font: 300 32px 'Roboto', sans-serif;
}


/**
 * Anim Colors
 *
 * 
 */

.anim-color-blue::before {
	background-color: #3949AB;
	z-index: 1;
}

/**
 * Logo
 *
 * 
 */

.logo-wrapper {
	width: auto;
	height: 70px;
}

.logo {
	width: auto;
	height: 100%;
}


/**
 * Cadastro de Foto
 * 
 * 
 */

.user-photo-wrapper {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	border-radius: 100px;
	overflow: hidden;
}

.user-photo {
	position: relative;
	width: auto;
	height: 100%;
	border-radius: 50px;
}

.user-picture {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.user-picture .picture-wrapper {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	border-radius: 225px;
	overflow: hidden;
}

.user-picture .picture-wrapper .picture {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 225px;
}

/**
 *	Tables
 *
 * 
 */

.the-table {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 75px 75px 0 75px;
}

.the-table table {
  width: 100%;
  margin: 0 auto 0 auto;
}

/**
 *	Buttons
 *
 * 
 */

.action-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: auto;
	height: auto;
	margin: 0 0 15px 0;
}

.btn-table i {
	margin: 0 10px 0 0;
}

.btn-crud {
	margin: 15px 0 0 0;
}

.btn-back-step {
	display: none;
	margin: 0 10px 0 0;
	padding: 0;
	opacity: 0;
	transition: all 0.16s ease-in-out;
	-webkit-transition: all 0.16s ease-in-out;
}

.btn-see-more span {
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.btn-see-more.anim-fill-right::before {
    background-color: #000;
    z-index: 1;
}

.btn-delete i {
	padding: 5px 5px 5px 5px;
}

.btn-delete.anim-fill-right::before {
    background-color: #000;
    z-index: 1;
}

/**
 *	Inputs
 * 
 * 
 */

.inputs {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.multi-input {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 5px 0 5px 0;
}

.multi-input .input {
	margin: 0 15px 0 0;
}

.input {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 5px 0 5px 0;
}

.input .input-name {
	font-size: 14px;
}

.input .input-preview {
	padding: 4px 0 0 0;
}

.input.input-small,
.input.input-small input,
.input.input-small select {
	width: 125px;
}

.input.input-midmid,
.input.input-midmid input,
.input.input-midmid select {
	width: 175px;
}

.input.input-medium,
.input.input-medium input,
.input.input-medium select {
	width: 200px;
}

.input.input-big,
.input.input-big input,
.input.input-big select {
	width: 300px;
}

.input input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

/**
 *	Modal
 *
 * 
 */

.modal-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.16s ease-in-out;
	-webkit-transition: all 0.16s ease-in-out;
	z-index: 1;
}

.modal {
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	width: 450px;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #fff;
	opacity: 0;
	overflow: hidden;
	transition: all 0.16s ease-in-out;
	-webkit-transition: all 0.16s ease-in-out;
	z-index: 1;
}

.modal .top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 50px;
}

.modal .top::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 430px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.35);
}

.modal .top > .left {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100%;
	margin-left: 15px;
}

.modal .top > .right {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 100%;
	margin-right: 15px;
}

.modal .title {
	font-weight: 400;
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.modal .close-modal {
	color: #000;
	text-decoration: none;
}

.modal .content {
	display: block;
	position: relative;
	margin: 0;
	padding: 15px;
}

.modal .content .step {
	display: block;
	position: relative;
	width: 420px;
	height: auto;
	margin: 0 15px 0 0;
	padding: 0;
	transition: all 0.16s ease-in-out;
	-webkit-transition: all 0.16s ease-in-out;
}

.modal .content .step .info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 25px 0 50px 0;
}

.modal .content .step .title {
	font-weight: 400;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.modal .content .step .select-picture-overlay {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 100px;
	width: 225px;
	height: 100%;
	border-radius: 50%;
	background-color: transparent;
	z-index: 1;
}

.modal .content .step .select-picture {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 100px;
	width: 225px;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	z-index: 1;
}

.modal .content .step .select-picture-overlay .icon {
	color: #000;
	font-size: 50px;
}

.modal .content .user-picture .picture-wrapper {
	width: 225px;
	height: 225px;
}

.modal .content .user-picture:hover .select-picture-overlay {
	background-color: rgba(21, 101, 192, 0.5);
}

.modal .content .step .bottom {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 75px 0 0 0;
}

.modal .cadastro form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}







