@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
} 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
 
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}








@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
 
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
 
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
 
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-SemiboldItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
 
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
 
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}