.pesquisa {
	padding: 25px 0 25px 0;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 25px 0 25px 0;
	color: #fff;
	background-color: #5C6BC0;
}

.header .title {
	font: 300 32px 'Open Sans', sans-serif;
	margin-left: 50px;
}

.header .logo-wrapper {
	height: 60px;
	margin-right: 50px;
}

.header::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #3F51B5;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 650px;
	height: auto;
	margin: 0 auto 0 auto;
	padding: 0 0 15px 0;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.05);
	box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.container > .top {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 25px 0 25px 0;
	color: #fff;
	background-color: #5C6BC0;
}

.container > .top::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #3F51B5;
}

.container > .content {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.container > .content .wrapper {
	margin: 0 15px 0 15px;
}

.container > .content .top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

.container > .content .buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
}

.user-photo-wrapper {
	display: block;
	position: relative;
	width: auto;
	height: 225px;
	border-radius: 250px;
	margin: 25px 0 25px 0;
	border: 3px solid #fff;
}

.firstname {
	display: block;
	position: relative;
	font: 400 40px 'Roboto', sans-serif;
	margin: 5px 0 0 0;
	padding: 0;
}

.lastname {
	display: block;
	position: relative;
	font: 300 18px 'Roboto', sans-serif;
	margin: 5px 0 0 0;
	padding: 0;
}

.checks {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.checks .checkbox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	margin: 5px 0 5px 0;
}

.checks .checkbox input {
	transform: scale(1.3);
}

.checks .checkbox .checkbox-name {
	margin-left: 15px;
	font-size: 14px;
}

.radios {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.radios .radio {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	margin: 5px 15px 5px 0;
}

.radios .radio .radio-name {
	margin-left: 5px;
	font-size: 14px;
}

.interesses {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
}

.modal {
	width: 600px;
}

.modal .top::before {
	width: 570px;
}



